{{ define "main" -}}
<div class="posts">
{{ range where .Site.RegularPages "Section" "blog" -}}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <span class="post-date">{{ .Date.Format "02/01/2006" }} - {{ .ReadingTime }} minuto(s) de leitura</span>
  <span class="post-date">
    {{ if isset .Params "categories" }}
    {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}
  </span>
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Leia mais...</a>
  </div>
  {{ end }}
</article>
{{- end }}
</div>
{{- end }}
